node_modules
jspm_packages
bower_components
.idea
.DS_STORE
build/reports

**/example/dist
**/wwwroot/dist
_artifact/


# angular-tooltipster
angular-tooltipster/sample/dist/
angular-tooltipster/dist/