<div class="party-component">
	<div class="page-header">
		<h1>{{title}}</h1>
	</div>
	<filter-select (updateFilter)="updateFilter($event)">
	</filter-select>
	<person-input (addPerson)="addPerson($event)">
	</person-input>

	<div class="panel panel-default">
		<div class="panel-heading">
			Persons
		</div>
		<div class="panel-body">
			<person-list 
			[people]="people$ | async"
			[filter]="filter$ | async"
			(addGuest)="addGuest($event)"
			(removeGuest)="removeGuest($event)"
			(removePerson)="removePerson($event)"
			(toggleAttending)="toggleAttending($event)"
			>
			</person-list>
		</div>
	</div>
</div>